*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Lato", sans-serif;
  height: 95vh;
  background: url("./img/back1.png");
  background-size: cover;
  background-position: center;
}

/* HEADER */

.header {
  display: flex;
  justify-content:end;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
  margin-right: 20px;
}

.header__theme{
  font-size: 1.2rem;
  font-weight: 600;
}

/* Mode sombre */
.dark-mode {
  background: url('./img/back2.png') center;
  background-size: cover;
  color: white;
}

.dark-mode .hero__title {
  color: white;
}

/* Animation du bouton */
.header__button {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  background: #ddd;
  border-radius: 20px;
  cursor: pointer;
  padding: 2px;
}

.header__button--theme {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

/* Position du bouton en mode sombre */
.dark-mode .header__button--theme {
  transform: translateX(30px);
}


/* HERO */

.hero {
  display: flex;
  justify-content: center;
  margin-top: -6rem;
}

.hero__container {
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin: 200px 345px;
}

.hero__title {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1%;
  color: #06040A;
}

.hero__description{
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
}

.hero__button{
  min-width: 200px;
  background-color: #06040A;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 18px;
  border: none;
  border-radius: 40px;
  padding: 24px 56px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.hero__button:hover {
  background-color: #fff;
  box-shadow: #06040A 2px 2px 2px 1px;
  color: #777777;
  transform: scale(1.02);
}



@media screen and (max-width: 1300px) {

  .hero__container{
    margin: 170px 280px;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__description{
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 960px) {

  .hero__container{
    min-width: 600px;
    margin: 170px 280px;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description{
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 620px) {

  .hero__container{
    min-width: 400px;
    margin: 120px 220px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description{
    font-size: 1.1rem;
  }

}

@media screen and (max-width: 540px) {

  .hero__container{
    min-width: 280px;
    margin: 120px 120px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description{
    font-size: 1.1rem;
  }

}